.App {
  text-align: center;
  padding: 20px;
}

label, button {
  margin-right: 20px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
}

button:hover {
  opacity: 0.8;
}

.chess-board {
  display: grid;
  justify-content: center;
  grid-gap: 0;
  max-width: fit-content;
  margin: auto;
}

.chess-cell {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.chess-cell.threat {
  background-color: #FFA07A;
}

.chess-cell.piece {
  background-color: #5ea4ff;
}